.sidebar {
  width: 300px;
  background: #d9d9d981;
  position: fixed;
  height: 100vh;
  padding: 50px;
  border-right: 1px solid #acacac;
  position: fixed;
  transition: 0.5s ease-in-out;
  z-index: 99;
  &_Collapse {
    width: 60px;
    padding: 50px 10px;
    .menu {
      li {
        display: flex !important;
        align-items: center;
        padding: 6px !important;
        overflow: hidden;
        justify-self: start;
        svg {
          width: 25px !important;
          height: 25px !important;
          margin: 0 !important;
        }
        span {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }

  .icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #333;
    border-radius: 50px;
    position: absolute;
    right: -20px;
    top: 100px;
    color: #fff;
    transition: 0.4s ease-in-out;
    &_Collapse {
      transform: rotate(-180deg);
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  .logo {
    width: 50px;
    margin: 0 auto 50px;
    transition: 0.4s ease-in-out;
    &_icon {
      width: 30px;
      margin-bottom: 70px;
      display: block;
    }
  }
  .menu {
    transition: 0.4s ease-in-out;
    li {
      display: flex;
      align-items: center;
      font-size: 18px;
      background: #c1c1c1;
      padding: 12px 24px;
      border-radius: 10px;
      transition: 0.4s ease-in-out;
      overflow: hidden;

      span {
        transition: 0.4s ease-in-out;
      }
      svg {
        margin-right: 10px;
        transition: 0.4s ease-in-out;
      }
    }
  }
}
