.digital_wall_header {
  background: linear-gradient(-45deg, #020717, #032a32);
  width: 40%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 38px 0 20px 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 99;
  img {
    @media (max-width: 580px) {
      width: 50px;
    }
  }
  @media (max-width: 580px) {
    width: 60%;
    border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  }
}