.video{
  width: 100%;
  position: absolute;
  iframe {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    transform: scale(2); // Increase slightly to fill without letterboxing
    filter: brightness(0.4);
  }
  video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    transform: scale(1); // Increase slightly to fill without letterboxing
    filter: brightness(0.4);
  }
}