.banner {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  @media (max-width: 580px) {
    height: 300px !important;
  }
  .video {
    width: 100%;
    position: absolute;
    // ReactPlayer uses an iframe internally. To achieve "object-fit: cover" effect,
    // we force it using transform
    iframe {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
      transform: scale(2); // Increase slightly to fill without letterboxing
      filter: brightness(0.4);
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }

  //   h5 {
  //     font-size: 50px;
  //     font-weight: 700;

  //     @media (max-width: 580px) {
  //       font-size: 24px;
  //     }
  //   }
  .spotlight_content {
    text-align: left;
    margin-top: 40px;

    @media (max-width: 500px) {
      padding: 0 16px;
    }
  }
  h3 {
    color: #fff;
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 600;
    position: relative;
    z-index: 99;
    background: -webkit-linear-gradient(-45deg, #fff, #ffb300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: 580px) {
      text-align: left;
      font-size: 26px !important;
    }
  }
  h5 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;

    @media (max-width: 580px) {
      font-size: 24px;
    }
  }

  .date_wrapper {
    display: flex;
    gap: 16px;
    position: relative;
    z-index: 99;
    margin-top: 20px;
    @media (max-width: 480px) {
      width: 100%;
    }
    .date_box {
      background-color: #fff;
      height: 52px;
      width: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #922626;
      font-size: 34px;
      border-radius: 12px;
      @media (max-width: 580px) {
        height: 42px;
        width: 42px;
        font-size: 26px;
      }
    }
  }
}
