@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/container-queries";

@source "../app/**/*.{js,ts,jsx,tsx,mdx}";
@source "../Components/**/*.{js,ts,jsx,tsx,mdx}";
@source "../ProUI/**/*.{js,ts,jsx,tsx,mdx}";
@source "../Templates/**/*.{js,ts,jsx,tsx,mdx}";
@source "../atoms/**/*.{js,ts,jsx,tsx,mdx}";
@source "../hooks/**/*.{js,ts,jsx,tsx,mdx}";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@import "@heroui/styles";
/* @import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap'); */

:root {
    --background: #0a0a0a;
    --foreground: #fff;
    --primary: #1444a8;
    --hover-primary: #698be8;
    --light-primary: #141724;
    --light-gray: #252525;
    --dark-gray: #0f0f0f;
    --text-gray: #898989;
    --stroke: #292929;
    --blur-circle: #494F73;
    --content: #7c88a0;
    --golden: #D1AF02;
    --light-gold: #272311;
    --gold-hover: #2723114e;
    --heroui-color: 220 90% 56%;

}

@font-face {
    font-family: 'Afacad';
    src: url('../../public/fonts/Afacad-Medium.woff2') format('woff2'),
        url('../../public/fonts/Afacad-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad';
    src: url('../../public/fonts/Afacad-SemiBold.woff2') format('woff2'),
        url('../../public/fonts/Afacad-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad';
    src: url('../../public/fonts/Afacad-Regular.woff2') format('woff2'),
        url('../../public/fonts/Afacad-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afacad';
    src: url('../../public/fonts/Afacad-Bold.woff2') format('woff2'),
        url('../../public/fonts/Afacad-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uroob';
    src: url('../../public//fonts/uroob/Uroob-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gauri';
    src: url('../../public/fonts/Gauri/GauriHeavy.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gauri';
    src: url('../../public/fonts/Gauri/GauriHeavy.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fleur De Leah';
    src: url('../../public/fonts/fleur/FleurDeLeah-Regular.woff2') format('woff2'),
        url('../../public/fonts/fleur/FleurDeLeah-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goodnewsj';
    src: url('../../public/fonts/roman/Goodnewsj-Roman.woff') format('woff2'),
        url('../../public/fonts/roman/Goodnewsj-Roman.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helena Bloom';
    src: url('../../public/fonts/helena/HelenaBloom-Regular.woff2') format('woff2'),
        url('../../public/fonts/helena/HelenaBloom-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Patrick Hand';
    src: url('../../public/fonts/funny-hand/PatrickHand-Regular.woff2') format('woff2'),
        url('../../public/fonts/funny-hand/PatrickHand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ms Claudy';
    src: url('../../public/fonts/claudy/MsClaudy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, blockquote {
    /* margin: 0;
    padding: 0; */
}

button {
    outline: none;
}

html {
    scroll-behavior: smooth;
}


/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background) !important;
    background-repeat: no-repeat;
    font-family: 'Afacad';
    -webkit-font-smoothing: antialiased;
    user-select: none;
    overflow-x: hidden;
    color: #fff;

}

.fleur {
    font-family: "Fleur De Leah";
}

.helena {
    font-family: 'Helena Bloom';
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.baloo-chettan {
    font-family: 'Baloo Chettan 2', cursive;
}

.noto-sans {
    font-family: 'Noto Sans Malayalam', sans-serif;
}

.chilanka {
    font-family: 'Chilanka', cursive;
}

.manjari {
    font-family: 'Manjari', sans-serif;
}

.noto-serif {
    font-family: 'Noto Serif Malayalam', serif;
}

.baloo-tamma {
    font-family: 'Baloo Tamma 2', cursive;
}

.custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #444;
  border-radius: 999px;
  outline: none;
}

/* Track (progress line) */
.custom-range::-webkit-slider-runnable-track {
  height: 6px;
  background: linear-gradient(to right, #153AA4 0%, #08AAD0 var(--progress), #444 var(--progress), #d5d5d5 100%);
  border-radius: 999px;
}

/* Thumb (circle) */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: #08AAD0;
  border-radius: 50%;
  margin-top: -4px;
  cursor: pointer;
}

/* Firefox */
.custom-range::-moz-range-track {
  background: #b1b1b1;
  height: 6px;
}

.custom-range::-moz-range-thumb {
  height: 14px;
  width: 14px;
  background: #153AA4;
  border-radius: 50%;
  cursor: pointer;
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 10px rgba(255,188,63,0.5);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

.scroll-indicator::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6));
  pointer-events: none;
}


@theme {
  /* 1. Define the utility name and link it to the keyframes */
  --animate-text-smooth: text-smooth 15s linear infinite;

  /* 2. Define the keyframes using standard CSS syntax */
  @keyframes text-smooth {
    0% { background-position: 0% center; }
    100% { background-position: 400% center; }
  }
}