.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  width: 100%;
  z-index: -1;
  position: relative;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: #06abd013;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.94em;
  --top-offset: 45.7vh;
  --fall-duration: 9.663s;
  --fall-delay: 1.071s;
}
.star:nth-child(2) {
  --star-tail-length: 5.91em;
  --top-offset: 76.31vh;
  --fall-duration: 9.426s;
  --fall-delay: 5.744s;
}
.star:nth-child(3) {
  --star-tail-length: 7.44em;
  --top-offset: 79.16vh;
  --fall-duration: 8.959s;
  --fall-delay: 9.306s;
}
.star:nth-child(4) {
  --star-tail-length: 5.02em;
  --top-offset: 20.44vh;
  --fall-duration: 6.751s;
  --fall-delay: 3.48s;
}
.star:nth-child(5) {
  --star-tail-length: 6.17em;
  --top-offset: 52.57vh;
  --fall-duration: 9.459s;
  --fall-delay: 2.599s;
}
.star:nth-child(6) {
  --star-tail-length: 5.41em;
  --top-offset: 50.37vh;
  --fall-duration: 10.863s;
  --fall-delay: 9.157s;
}
.star:nth-child(7) {
  --star-tail-length: 6.8em;
  --top-offset: 0.39vh;
  --fall-duration: 7.515s;
  --fall-delay: 9.701s;
}
.star:nth-child(8) {
  --star-tail-length: 5.12em;
  --top-offset: 23.64vh;
  --fall-duration: 11.022s;
  --fall-delay: 3.114s;
}
.star:nth-child(9) {
  --star-tail-length: 7.16em;
  --top-offset: 77.45vh;
  --fall-duration: 8.805s;
  --fall-delay: 1.398s;
}
.star:nth-child(10) {
  --star-tail-length: 7.25em;
  --top-offset: 8.43vh;
  --fall-duration: 7.332s;
  --fall-delay: 5.306s;
}
.star:nth-child(11) {
  --star-tail-length: 5.69em;
  --top-offset: 33.82vh;
  --fall-duration: 11.421s;
  --fall-delay: 4.212s;
}
.star:nth-child(12) {
  --star-tail-length: 6.5em;
  --top-offset: 55.73vh;
  --fall-duration: 8.268s;
  --fall-delay: 0.17s;
}
.star:nth-child(13) {
  --star-tail-length: 6.99em;
  --top-offset: 95.31vh;
  --fall-duration: 7.056s;
  --fall-delay: 1.312s;
}
.star:nth-child(14) {
  --star-tail-length: 6.64em;
  --top-offset: 18.96vh;
  --fall-duration: 10.202s;
  --fall-delay: 0.46s;
}
.star:nth-child(15) {
  --star-tail-length: 5.13em;
  --top-offset: 56.92vh;
  --fall-duration: 10.994s;
  --fall-delay: 2.532s;
}
.star:nth-child(16) {
  --star-tail-length: 6.67em;
  --top-offset: 62.6vh;
  --fall-duration: 8.234s;
  --fall-delay: 5.981s;
}
.star:nth-child(17) {
  --star-tail-length: 6.33em;
  --top-offset: 61.98vh;
  --fall-duration: 6.446s;
  --fall-delay: 9.189s;
}
.star:nth-child(18) {
  --star-tail-length: 5.02em;
  --top-offset: 38.26vh;
  --fall-duration: 10.762s;
  --fall-delay: 7.289s;
}
.star:nth-child(19) {
  --star-tail-length: 6.56em;
  --top-offset: 89.99vh;
  --fall-duration: 8.08s;
  --fall-delay: 4.521s;
}
.star:nth-child(20) {
  --star-tail-length: 7.47em;
  --top-offset: 88.82vh;
  --fall-duration: 7.22s;
  --fall-delay: 3.408s;
}
.star:nth-child(21) {
  --star-tail-length: 6.04em;
  --top-offset: 73.84vh;
  --fall-duration: 7.285s;
  --fall-delay: 8.901s;
}
.star:nth-child(22) {
  --star-tail-length: 6.82em;
  --top-offset: 44.9vh;
  --fall-duration: 7.61s;
  --fall-delay: 3.857s;
}
.star:nth-child(23) {
  --star-tail-length: 5.39em;
  --top-offset: 73.69vh;
  --fall-duration: 9.643s;
  --fall-delay: 1.122s;
}
.star:nth-child(24) {
  --star-tail-length: 5.93em;
  --top-offset: 55.92vh;
  --fall-duration: 11.966s;
  --fall-delay: 9.013s;
}
.star:nth-child(25) {
  --star-tail-length: 6.32em;
  --top-offset: 37.89vh;
  --fall-duration: 6.216s;
  --fall-delay: 6.774s;
}
.star:nth-child(26) {
  --star-tail-length: 5.81em;
  --top-offset: 28.07vh;
  --fall-duration: 10.592s;
  --fall-delay: 4.189s;
}
.star:nth-child(27) {
  --star-tail-length: 5.03em;
  --top-offset: 37.36vh;
  --fall-duration: 7.291s;
  --fall-delay: 6.953s;
}
.star:nth-child(28) {
  --star-tail-length: 6.79em;
  --top-offset: 49.23vh;
  --fall-duration: 8.683s;
  --fall-delay: 4.307s;
}
.star:nth-child(29) {
  --star-tail-length: 5.28em;
  --top-offset: 69.76vh;
  --fall-duration: 11.135s;
  --fall-delay: 4.191s;
}
.star:nth-child(30) {
  --star-tail-length: 7.36em;
  --top-offset: 68.08vh;
  --fall-duration: 7.648s;
  --fall-delay: 5.918s;
}
.star:nth-child(31) {
  --star-tail-length: 6.9em;
  --top-offset: 31.6vh;
  --fall-duration: 8.474s;
  --fall-delay: 7.38s;
}
.star:nth-child(32) {
  --star-tail-length: 5.07em;
  --top-offset: 97.05vh;
  --fall-duration: 7.992s;
  --fall-delay: 7.016s;
}
.star:nth-child(33) {
  --star-tail-length: 6.54em;
  --top-offset: 13.99vh;
  --fall-duration: 9.975s;
  --fall-delay: 3.105s;
}
.star:nth-child(34) {
  --star-tail-length: 7.01em;
  --top-offset: 69.37vh;
  --fall-duration: 8.185s;
  --fall-delay: 4.295s;
}
.star:nth-child(35) {
  --star-tail-length: 5.71em;
  --top-offset: 34vh;
  --fall-duration: 11.625s;
  --fall-delay: 7.304s;
}
.star:nth-child(36) {
  --star-tail-length: 5.18em;
  --top-offset: 37.23vh;
  --fall-duration: 11.382s;
  --fall-delay: 2.986s;
}
.star:nth-child(37) {
  --star-tail-length: 6.04em;
  --top-offset: 36.76vh;
  --fall-duration: 11.969s;
  --fall-delay: 1.799s;
}
.star:nth-child(38) {
  --star-tail-length: 5.83em;
  --top-offset: 24.71vh;
  --fall-duration: 10.598s;
  --fall-delay: 0.655s;
}
.star:nth-child(39) {
  --star-tail-length: 5.43em;
  --top-offset: 29.96vh;
  --fall-duration: 6.088s;
  --fall-delay: 4.698s;
}
.star:nth-child(40) {
  --star-tail-length: 5.03em;
  --top-offset: 81.1vh;
  --fall-duration: 8.576s;
  --fall-delay: 5.807s;
}
.star:nth-child(41) {
  --star-tail-length: 7.32em;
  --top-offset: 21.48vh;
  --fall-duration: 10.703s;
  --fall-delay: 6.347s;
}
.star:nth-child(42) {
  --star-tail-length: 7.01em;
  --top-offset: 42.14vh;
  --fall-duration: 10.193s;
  --fall-delay: 6.903s;
}
.star:nth-child(43) {
  --star-tail-length: 6.17em;
  --top-offset: 94.09vh;
  --fall-duration: 7.754s;
  --fall-delay: 0.117s;
}
.star:nth-child(44) {
  --star-tail-length: 6.31em;
  --top-offset: 0.85vh;
  --fall-duration: 6.588s;
  --fall-delay: 2.612s;
}
.star:nth-child(45) {
  --star-tail-length: 5.47em;
  --top-offset: 16.79vh;
  --fall-duration: 8.121s;
  --fall-delay: 9.681s;
}
.star:nth-child(46) {
  --star-tail-length: 5.07em;
  --top-offset: 45.56vh;
  --fall-duration: 9.979s;
  --fall-delay: 1.55s;
}
.star:nth-child(47) {
  --star-tail-length: 6.22em;
  --top-offset: 55.5vh;
  --fall-duration: 7.337s;
  --fall-delay: 5.491s;
}
.star:nth-child(48) {
  --star-tail-length: 6.7em;
  --top-offset: 19.14vh;
  --fall-duration: 6.777s;
  --fall-delay: 3.705s;
}
.star:nth-child(49) {
  --star-tail-length: 7.31em;
  --top-offset: 69.33vh;
  --fall-duration: 8.499s;
  --fall-delay: 9.644s;
}
.star:nth-child(50) {
  --star-tail-length: 6.03em;
  --top-offset: 61.61vh;
  --fall-duration: 10.924s;
  --fall-delay: 9.623s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=StarBackground.css.map */