.calendarWrapper {
  background-image: url(../../assets/coffeePremium/flower-flip.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  @media (max-width: 560px) {
    background-size: 300px;
  }
  .time {
    color: #ddae6b;
  }

  .calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 200px;
      background: rgb(254, 251, 243);
      background: linear-gradient(
        90deg,
        rgba(254, 251, 243, 1) 0%,
        rgba(254, 251, 243, 0) 50%,
        rgba(254, 251, 243, 1) 100%
      );
      position: absolute;
    }
    li {
      padding: 0 50px;
      opacity: 0.5;
      text-align: center;
      @media (max-width: 760px) {
        padding: 0 40px;
      }
      @media (max-width: 560px) {
        padding: 0 30px;
      }
      @media (max-width: 480px) {
        padding: 0 20px;
      }
      span {
        color: #333;
        font-size: 28px;
        font-weight: 500;
        @media (max-width: 760px) {
          font-size: 24px;
        }
        @media (max-width: 560px) {
          font-size: 20px;
        }
      }
      h5 {
        color: #333;
        font-size: 40px;
        font-weight: 700;
        @media (max-width: 760px) {
          font-size: 30px;
        }
        @media (max-width: 560px) {
          font-size: 22px;
        }
        @media (max-width: 480px) {
          font-size: 20px;
        }
      }
    }
    .active {
      opacity: 1 !important;
      position: relative;

      span {
        color: #ddae6b;
      }
      h5 {
        color: #ddae6b;
      }
    }
    .round {
      position: absolute;
      right: 50%;
      top: -72%;
      transform: translate(50%, 50%) scale(1.05);
      @media (max-width: 480px) {
        top: -50%;
        transform: translate(50%, 50%) scale(1.4);
      }
    }
  }
  .Starttime {
    text-align: center;
    color: #333;
    display: block;
    font-size: 20px;
    position: relative;
    font-weight: 600;
    @media (max-width: 560px) {
      font-size: 18px;
    }
  }
  .time {
    text-align: center;
    color: #333;
    display: block;
    font-size: 20px;
    position: relative;
    font-weight: 600;
    position: relative;
    @media (max-width: 560px) {
      font-size: 18px;
    }
  }
  .exactTime {
    position: relative;
    img {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%);
    }
  }
  .destination {
    text-align: center;
    text-align: center;
    padding: 40px 0;
    h5 {
      color: #333;
      font-size: 40px;
      @media (max-width: 760px) {
        font-size: 28px;
      }
      @media (max-width: 560px) {
        font-size: 24px;
      }
    }
    h2 {
      width: 60%;
      margin: auto;
      font-size: 24px;
      color: #ddae6b;
      font-weight: 600;
      @media (max-width: 760px) {
        font-size: 14px;
      }
      @media (max-width: 560px) {
        width: 80%;
      }
    }
  }
  .atcb-button {
    background: red !important;
  }
  .addEventHead {
    font-size: 20px;
    font-weight: 600;
    color: #ddae6b;
    margin-bottom: 10px;
    @media (max-width: 560px) {
      font-size: 18px;
    }
  }
}
