@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    user-select: none;
}

.no-data {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.no-data img {
    width: 100px;
    margin: 0 auto;
}

.no-data p {
    font-size: 20px;
    color: #fff;
}

.no-data span {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 14px;
    font-weight: 200;
    color: #fff;
}