@media (max-width: 700px) {
  .footer_cont {
    flex-direction: column;
    height: 150px !important;
  }
}
@media (max-width: 530px) {
  .footer_txt {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 450px){
    .footer_txt {
        flex-direction: column;
        gap: 10px !important;
    }
    .footer_cont{
        height: 200px !important;
        text-align: center;
    }
}


.footer{
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000, #00000000);
    display: block;
    position: absolute;
    bottom: 0;
  }
}