.WallLayout {
  background: var(--backgroundColor);
  height: auto;
  // font-family: "Times New Roman", Times, serif;
  position: relative;
  padding-bottom: 200px;
  
  @media (max-width: 580px) {
    padding-bottom: 250px;
  }
}
.badge {
  background: linear-gradient(-45deg, #020717, #032a32);
  width: 40%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 38px 0 20px 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 99;
  img {
    @media (max-width: 580px) {
      width: 50px;
    }
  }
  @media (max-width: 580px) {
    width: 60%;
    border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 40%;
  background: #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 40px;
  min-height: 200px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  @media (max-width: 740px) {
    width: 50% !important;
    min-height: 160px !important;
  }
  @media (max-width: 600px) {
    min-height: 150px !important;
    padding: 20px !important;
    width: 100% !important;
  }
  @media (max-width: 480px) {
    min-height: 140px !important;
    flex-direction: column;
  }

  button {
    background: #25D366;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    span{
      margin-left: 16px;
    }
    @media (max-width: 480px) {
      width: 90%;
      margin-top: 20px;
    }
  }
}
.hidden {
  opacity: 0;
  transform: translateY(20px) translateX(-50%); // moves slightly out of view
  pointer-events: none;
}
