.DashboardHome {
  //   padding-left: 300px;
  &_container {
    padding: 50px;
    .icon {
      display: none;
      width: 30px;
      margin: 0 auto 50px;
      @media (max-width: 780px) {
        display: block;
      }
    }
    .head {
      font-size: 30px;
      font-weight: 800;
    }
    @media (max-width: 660px) {
      padding: 20px;
    }
  }
  .infocards {
    margin-top: 40px;
    display: flex;
    @media (max-width: 660px) {
      flex-direction: column;
    }
  }
}
