.FadeHeroSection {
  height: 600px;
  width: 100%;
  background: var(--bg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  @media (max-width:560px) {
    border-radius: 0;
  }
  img {
    display: block;
    object-position: center;
    width: 100%;
    margin: 0 auto;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
}
.spotlight_image{
  height: 100%;
  img{
    height: 100%;
    object-fit: cover;
    @media (max-width:560px) {
      border-radius: 0;
    }
  }
}

.fader {
  background: linear-gradient(180deg, #ffffff00, var(--color));
  width: 100%;
  height: 90%;
  display: block;
  position: absolute;
  bottom: 0;
}

.namebox {
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  z-index: 999;
  h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--contentColor);

  }
  p {
    mix-blend-mode: difference;
    color: var(--contentColor);
  }
}