.spotlight {
  width: 100%;
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 580px) {
    padding: 0 20px;
  }
  .mesh {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
      opacity: 0.4;
      height: 500px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
          to top,
          rgba(112, 27, 27, 0.8),
          transparent
        );
        pointer-events: none;
      }
    }
  }

  h3 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    @media (max-width: 580px) {
      font-size: 40px !important;
    }
  }

  .date_wrapper {
    display: flex;
    gap: 16px;
    @media (max-width: 480px) {
      width: 100%;
    }
    .date_box {
      background-color: #fff;
      height: 52px;
      width: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #922626;
      font-size: 34px;
      border-radius: 12px;
      @media (max-width: 580px) {
        height: 42px;
        width: 42px;
        font-size: 26px;
      }
    }
  }
}
