.spotlight {
  width: 100%;
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 580px) {
    padding: 0 20px;
    padding-top: 90px;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(112, 27, 27, 0.8), transparent);
    pointer-events: none;
  }
  .spotlight_content {
    text-align: left;
  }
  .mesh {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
      opacity: 0.4;
      height: 400px;
      position: relative;
    }
  }

  //   h3 {
  //     color: #fff;
  //     font-size: 50px;
  //     line-height: 1em;
  //     font-weight: 600;
  //     position: relative;
  //     z-index: 99;
  //     background: -webkit-linear-gradient(-45deg, #fff, #ffb300);
  //     -webkit-background-clip: text;
  //     -webkit-text-fill-color: transparent;
  //     @media (max-width: 580px) {
  //       text-align: left;
  //       font-size: 35px !important;
  //     }
  //   }
  h5 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;

    @media (max-width: 580px) {
      font-size: 24px;
    }
  }

  .date_wrapper {
    display: flex;
    gap: 16px;
    position: relative;
    z-index: 99;
    margin-top: 20px;
    @media (max-width: 480px) {
      width: 100%;
    }
    .date_box {
      background-color: #fff;
      height: 52px;
      width: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #922626;
      font-size: 34px;
      border-radius: 12px;
      @media (max-width: 580px) {
        height: 42px;
        width: 42px;
        font-size: 26px;
      }
    }
  }
}
