.galaxy_work {
  background-color: #fff;
  padding: 40px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.galaxy_work_container {
  background-color: #b2c0ce79;
  padding: 20px;
  border-radius: 20px;
}

.galaxy_item {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: end;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 16px;
  //   background-image: var(--bg);
  background-image: linear-gradient(
      to top,
      rgba(251, 243, 243, 0.813),
      rgba(228, 225, 225, 0.211)
    ),
    var(--bg);
}
.galaxy_item h6 {
  font-size: 18px;
  color: #000;
}

.galaxy_work_container h4 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #000;
}
@media (max-width: 980px) {
  .galaxy_work {
    width: 80%;
  }
}
@media (max-width: 740px) {
  .galaxy_work {
    width: 100%;
  }
}
