.wrapper {
  background: var(--theme-color);
}

.gallery {
  padding: 40px 0 60px;
  text-align: center;
  background-color: var(--theme-color);
  overflow-x: hidden !important;

}

.galleryEyebrow {
  display: inline-block;
  font-family: "Notica", serif;
  font-size: 28px;
  font-weight: 600;
  color: var(--content-color);
  margin-bottom: 24px;
}
