.carditem{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    height: 160px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
    text-align: left;

    &:hover {
        transform: scale(1.03);
        border: 1px solid #fff;
        
    }
    h4 , span{
      font-size: 18px;
    }
    @media (max-width: 760px) {
        h4 , span{
          font-size: 16px;
        }
      }
    @media (max-width: 480px) {
        h4 , span{
          font-size: 12px;
        }
      }
    .arrows{
        display: flex;
        justify-content: space-between;
        @media (max-width: 640px) {
            height: 30px;
          }
        .arrow{
          display: flex;
          align-items: center;
          justify-content: center;
            background: #313131;
            border-radius: 25px;
            width: 40px;
            height: 40px;
        }
    }
}
.image{
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  img{
    object-fit: cover;
    width: 100%;
   display: block;
  }
}