.banner {
  position: relative;
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 0;
  text-align: center;
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; // Ensure the video is behind the content
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #701b1b9e; // black overlay with 50% opacity
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2; // Make sure your content sits above the overlay
  }
  h5 {
    font-size: 50px;
    font-weight: 700;
    @media (max-width: 580px) {
      font-size: 24px !important;
    }
  }
}
